<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,td{
            border: 2px solid #123;
            border-collapse: collapse;
            padding: 20px;
        }
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
        }
        a{
          display: flex;
          align-items: center;
          justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Phone Number</th>
            </tr>
            <% s.forEach((element) => { %>
                <tr>
                    
                    <td><%= element.name %></td>
                    <td><%= element.age %></td>
                    <td><%= element.phno %></td>
                    
                </tr>
                <% }); %>
          
            
        </table>
    </div>
        <a href="http://localhost:3000/"><input type="button" value="Back"></a>
    
</body>
</html>

